<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>

        <!-- Console pour debug -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c - %msg%n" />
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <!-- Fichier err.log pour erreurs dans ch.* -->
        <File name="ErrorFile" fileName="logs/err.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %c - %msg%n%throwable"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <!-- Fichier cafheg_{date}.log pour info dans services -->
        <RollingFile name="ServiceFile" fileName="logs/cafheg.log"
                     filePattern="logs/cafheg_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %c - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger error pour tout ce qui contient "ch" -->
        <Logger name="ch" level="error" additivity="true">
            <AppenderRef ref="ErrorFile"/>
        </Logger>
        <Logger name="ch.hearc.cafheg.business.allocations" level="info" additivity="false">
            <AppenderRef ref="ServiceFile"/>
        </Logger>
        <Logger name="ch.hearc.cafheg.business.versements.VersementService" level="info" additivity="false">
            <AppenderRef ref="ServiceFile"/>
        </Logger>
        <Logger name="ch.hearc.cafheg.infrastructure.api" level="info" additivity="false">
            <AppenderRef ref="ServiceFile"/>
        </Logger>
        <Logger name="ch.hearc.cafheg.infrastructure.pdf" level="info" additivity="false">
            <AppenderRef ref="ServiceFile"/>
        </Logger>
        <Logger name="ch.hearc.cafheg.infrastructure.persistance" level="info" additivity="false">
            <AppenderRef ref="ServiceFile"/>
        </Logger>
        <!-- Logger global pour debug vers console -->
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
